.statistic-container {
    display       : flex;
    padding       : 12px 40px;
    flex-direction: column;
    align-items   : flex-start;
    gap           : 32px;
    align-self    : stretch;

    .statistic-row {
        display    : flex;
        align-items: flex-start;
        gap        : 24px;
        align-self : stretch;
        width      : 100%;

        .statistic-left-column {
            flex          : 1 0 0;
            max-width     : calc(8 / 12 * 100%);
            display       : flex;
            flex-direction: column;
            align-items   : flex-start;
            gap           : 32px;
        }

        .statistic-right-column {
            flex           : 1 0 0;
            max-width      : calc(4 / 12 * 100%);
            display        : flex;
            flex-direction : column;
            justify-content: center;
            align-items    : flex-start;
            gap            : 32px;
        }
    }
}