@use '../../../../../../styles/scss/utils' as *;
.recruiter-model-container {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: start;
  justify-content: flex-start;
  gap: 8px;

  .recruiter-model-company {
    color: $satinDeepBlack-tints-300;
    @include typography_BVNPro-desktop-body-3();
  }

  .recruiter-model-product {
    color: $benthicBlack-main;
    @include typography_BVNPro-desktop-body-2();
  }
}
