@use '../../../../styles/scss/utils' as *;

.recruiter-contact-container {
  width: 100%;

  & > .recruiter-contact-list {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 24px;
  }
}
