.statistic-card-item-container {
    max-width     : calc(3 / 12 * 100%);
    flex          : 1 0 0;
    display       : flex;
    width         : 166px;
    padding       : 12px;
    flex-direction: column;
    align-items   : flex-start;
    gap           : 12px;
    border-radius : 8px;
    border        : 1px solid #CCCCD0;
    background    : #FFF;

    .statistic-card-item-header {
        display    : flex;
        align-items: center;
        gap        : 12px;
        align-self : stretch;

        .statistic-card-item-icon {
            display        : flex;
            width          : 24px;
            height         : 24px;
            padding        : 6px;
            flex-direction : column;
            justify-content: center;
            align-items    : center;
            gap            : 10px;
            border-radius  : 12px;
            background     : #EE7C5C;
        }

        .statistic-card-item-label {
            color      : #666671;
            font-size  : 14px;
            font-style : normal;
            font-weight: 400;
            line-height: 120%;
        }
    }

    .statistic-card-item-body {
        display        : flex;
        width          : 48px;
        flex-direction : column;
        justify-content: center;
        align-items    : center;
        border-bottom  : 2px solid #F29D85;

        span {
            color      : #1B1D21;
            font-size  : 32px;
            font-style : normal;
            font-weight: 700;
            line-height: 135%;
        }
    }
}