@use '../../../styles/scss/utils/variables/'as variables;

.input-container {
    display       : flex;
    flex-direction: column;
    gap           : 8px;

    label {
        color      : #1E1E1E;
        font-size  : 18px;
        font-weight: 400;
        line-height: 160%;
    }

    input {
        box-sizing      : border-box;
        padding         : 10px 20px;
        border-radius   : 8px;
        border          : 1px solid grey;
        background-color: #fff;
    }

    &.large {
        input {
            width: 100%;
        }
    }

    &.medium {
        input {
            width: 50%;
        }
    }

    &.small {
        input {
            width: 30%;
        }
    }
}