@use '../../../styles/scss/utils' as *;
.forgot__password__page-container {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 32px;
  flex-direction: column;

  & > .heading {
    width: 100%;
    // TODO: implement mixin flex in here
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: 8px;
    & > .title {
      @include typography_BVNPro-desktop-h4();
      color: $TEXT-black;
      text-align: center;
      text-transform: capitalize;
    }

    & > .sub-title {
      @include typography_BVNPro-desktop-body-2();
      color: $TEXT-black;
      text-align: center;
    }
  }

  & > .content {
    width: 100%;
    // TODO: Implement mixin flex scss in here
    display: flex;
    justify-content: center;
    align-items: start;
    gap: 20px;
    flex-direction: column;

    & > .main__content {
      width: 100%;
      display: flex;
      justify-content: start;
      align-items: center;
      flex-direction: column;
      gap: 16px;
      & > .form {
        // TODO: Implement mixin flex scss in here
        display: flex;
        justify-content: flex-start;
        align-items: start;
        flex-direction: column;
        gap: 16px;
        width: 100%;
      }

      & > .other {
        // TODO: implement mixin flex scss in here

        & > .prev-page {
          display: flex;
          justify-content: start;
          align-items: center;
          gap: 4px;
          cursor: pointer;

          &:hover {
            & > .icon > svg {
              fill: $saturatedSky-main;
            }

            & > span {
              color: $saturatedSky-main;
            }
          }

          & .icon {
            width: 24px;
            height: 24px;

            & > svg {
              transition: fill $shadow_transition_time_duration ease-in-out;
            }
          }

          & > span {
            @include typography_BVNPro-desktop-body-2();
            color: $TEXT-black;
            transition: color $shadow_transition_time_duration ease-in-out;
          }
        }
      }
    }
  }
}
