.container-filter {
  border: solid 1px black;
  width: 379px;
  & > .title-filter {
    display: flex;
    flex-direction: column;
    gap: 12px;
  }
  & > .toggle {
    display: flex;
    flex-direction: column;
    gap: 12px;
    & > .group-toggle {
      display: flex;
      justify-content: space-between;
    }
  }
}
