@use '../../styles/scss/utils/mixin/typography' as *;
.profile-container {
  & > div {
    margin-bottom: 64px;
  }
  & > h4 {
    @include typography_BVNPro-desktop-h4;
    margin-bottom: 22px;
  }
  & > .list-solution {
    display: grid;
    grid-template-columns: repeat(12, 1fr);
    gap: 24px;
    & div {
      grid-column: span 3;
    }
  }
}
