@use '../../styles/scss/utils/mixin/typography' as *;
@use '../../styles/scss/flex-grid' as *;

.profile-container {
  & .banner-with-info {
    margin-bottom: 64px;
  }
  & .title-tag {
    margin-bottom: 32px;
  }
  & > h4 {
    @include typography_BVNPro-desktop-h4;
    margin-bottom: 22px;
  }
  & .title-tag {
    @include flex-row(2px, none, center);
    & > svg {
      width: 29px;
      height: 26px;
    }
  }

  & > .list-solution {
    @include grid(12, none, 24px);
    & .container-solution {
      grid-column: span 3;
    }
  }
  & > .list-company {
    @include grid(12, none, 24px);
    & .container-company-follow {
      grid-column: span 3;
    }
  }
}
