@use '../../../../../styles/scss/utils' as *;

form.login__form {
  // TODO: Implement mixin flex scss in here
  display: flex;
  justify-content: flex-start;
  align-items: start;
  flex-direction: column;
  gap: 16px;
  width: 100%;

  & > .options {
    // TODO: Implement mixin flex scss in here
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    text-transform: capitalize;
    text-decoration: underline;

    & > .forgot-password {
      @include typography_BVNPro-desktop-body-2();
      color: $TEXT-black;
    }
  }
}
