@use '../../../../styles/scss/utils/mixin/typography' as *;
@use '../../../../styles/scss/utils/variables/colors' as *;
.container-contact-social {
  border: 1px solid gray;
  border-radius: 4px;
  padding: 24px;

  & > .title-component {
    @include typography_BVNPro-desktop-h4;
    margin-bottom: 32px;
  }
  & > .container-input {
    display: flex;
    flex-direction: column;
    gap: 16px;
  }
}
