@use '../../styles/scss/flex-grid' as *;

.flex {
  @include flex(center, center, 12px);
  width: 600px;
  margin: 0 auto;

  &-col {
    padding-top: 150px;
    @include flex(column, flex-start, start, 12px);
    width: 600px;
    margin: 0 auto;
  }
}
