.recruiter-info-container {
  width: 100%;

  .recruiter-info-models {
    display: grid;
    grid-template-columns: repeat(12, 1fr);
    width: 100%;
    gap: 24px;
    & > div {
      grid-column: span 3;
      width: 100%;
    }
  }
}
