form.otp__form {
  // TODO: Implement mixin flex scss in here
  display: flex;
  justify-content: flex-start;
  align-items: start;
  flex-direction: column;
  gap: 16px;
  width: 100%;

  & > .otp__list-component {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    gap: 8px;
    width: 100%;

    & > input {
      flex: 1;
      width: 100%;
    }
  }
}
